@font-face {
    font-family: 'Open Sans-SemiBold';
    src: url('../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.eot');
    src: url('../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.woff') format('woff'),
        url('../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype'),
        url('../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot');
    src: url('../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
        url('../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'),
        url('../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}