@font-face {
    font-family: 'TT-Norms-bold';
    src: url('../assets/fonts/TTNorms/TTNorms-Bold.eot');
    src: url('../assets/fonts/TTNorms/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTNorms/TTNorms-Bold.woff2') format('woff2'),
        url('../assets/fonts/TTNorms/TTNorms-Bold.woff') format('woff'),
        url('../assets/fonts/TTNorms/TTNorms-Bold.ttf') format('truetype'),
        url('../assets/fonts/TTNorms/TTNorms-Bold.svg#TTNorms-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT-Norms-light';
    src: url('../assets/fonts/TTNorms/TTNorms-Light.eot');
    src: url('../assets/fonts/TTNorms/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTNorms/TTNorms-Light.woff2') format('woff2'),
        url('../assets/fonts/TTNorms/TTNorms-Light.woff') format('woff'),
        url('../assets/fonts/TTNorms/TTNorms-Light.ttf') format('truetype'),
        url('../assets/fonts/TTNorms/TTNorms-Light.svg#TTNorms-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT-Norms-regular';
    src: url('../assets/fonts/TTNorms/TTNorms-Regular.eot');
    src: url('../assets/fonts/TTNorms/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTNorms/TTNorms-Regular.woff2') format('woff2'),
        url('../assets/fonts/TTNorms/TTNorms-Regular.woff') format('woff'),
        url('../assets/fonts/TTNorms/TTNorms-Regular.ttf') format('truetype'),
        url('../assets/fonts/TTNorms/TTNorms-Regular.svg#TTNorms-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT-Norms-medium';
    src: url('../assets/fonts/TTNorms/TTNorms-Medium.eot');
    src: url('../assets/fonts/TTNorms/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTNorms/TTNorms-Medium.woff2') format('woff2'),
        url('../assets/fonts/TTNorms/TTNorms-Medium.woff') format('woff'),
        url('../assets/fonts/TTNorms/TTNorms-Medium.ttf') format('truetype'),
        url('../assets/fonts/TTNorms/TTNorms-Medium.svg#TTNorms-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}