*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



.header{
    width: 100%;
    background: #fff;
    padding-top: 50px;
    position: fixed;
    z-index: 10;
    .container-xl{
        .headers{
            .languages{
                display: none;
                a{
                    text-decoration: none;
                    font-size: 12px;
                    font-family: 'TT-Norms-bold';
                    color: #fff;
                }
                .ua{
                    background: #F0145A;
                    border-radius: 8px;
                    padding: 6px;
                }
                .ru{
                    padding: 6px;
                    color: #B3B3BA;
                }
                .en{
                    padding: 6px;
                    color: #B3B3BA;
                }
            }
            .main-logo{
                margin-top: -25px;
            }
            .min-logo{
                display: none;
            }
            @media screen and (max-width: 1100px){
                .main-logo{
                    display: none;
                }
                .min-logo{
                    display: block;
                    margin-top: 25px;
                }
                .languages{
                    display: block;
                    margin-top: -25px;
                }
            }
        }
        .info-header{
            margin-top: -25px;
            .info-up{
                .languages{
                    a{
                        text-decoration: none;
                        font-size: 12px;
                        font-family: 'TT-Norms-bold';
                        color: #fff;
                    }
                    .ua{
                        background: #F0145A;
                        border-radius: 8px;
                        padding: 6px;
                    }
                    .ru{
                        padding: 6px;
                        color: #B3B3BA;
                    }
                    .en{
                        padding: 6px;
                        color: #B3B3BA;
                    }
                    
                }
                .street-header{
                    text-decoration: none;
                    font-size: 16px;
                    color: #fff;
                    font-family: 'TT-Norms-regular';
                    margin-top: 4px;
                    margin-left: 15px;
                    color: #B3B3BA;
                }
                .number-header{
                    text-decoration: none;
                    font-size: 16px;
                    color: #fff;
                    font-family: 'TT-Norms-bold';
                    margin-top: 4px;
                    margin-left: 20px;
                    color: #B3B3BA;
                }
                .number-header::before{
                    content: url(../assets/img/icons/point-header.svg);
                    display: inline-block;
                    vertical-align: top;
                    margin-top: -2px;
                    margin-right: 5px;
                }
                .facebook-header{
                    margin-left: 16px;
                }
                .facebook-header::before{
                    content: url(../assets/img/icons/Dot-separator.png);
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: top;
                    margin-top: 2px;
                }
                @media screen and (max-width: 1100px){
                    .languages{
                        display: none;
                    }
                    .street-header{
                        display: none;
                    }
                    .facebook-header{
                        display: none;
                    }
                    .number-header{
                        color: #B3B3BA;
                        margin-left: -10px;
                    }
                    .number-header::before{
                        display: none;
                    }
                }
            }
            .info-down{
                margin-top: 18px;
                margin-left: 138px;

                .text-ul{
                    li{
                        .ul-text{
                            text-decoration: none;
                            font-family: 'TT-Norms-medium';
                            color: #24A3FF;
                            font-size: 18px;
                            line-height: 21px;
                        }
                        .ul-text:not(:last-child){
                            margin-right: 15px;
                        }
                        .ul__publication{
                            color: #F0145A;
                            border-bottom: 2px solid #F0145A;
                        }
                    }
                }
                .burger{
                    display: none;
                }
                @media screen and (max-width: 1100px){
                    .text-ul{
                        display: none;
                    }
                    .burger{
                        display: block;
                    }
                }
            }
            @media screen and (max-width: 1000px){
                .info-down{
                    margin-left: 105px;
                }
            }
        }
    }
}
@media screen and (max-width: 1100px){
    .header{
        padding-bottom: 10px;
    }
}

.publication-block{
    background: #F5F5FA;
    padding-top: 115px;
    padding-bottom: 60px;
    .container-xl{
        background: #F5F5FA;
        .nav{
            width: 257px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 42px;
            background: #E6E6F0;
            border-radius: 12px;
            .nav-item{
                width: 127px;
                .nav-link{
                    width: 130px;
                    border-radius: 10px;
                    font-size: 18px;
                    font-family: 'TT-Norms-medium';
                    color: #323264;
                }
                .active{
                    width: 130px;
                    border-radius: 10px;
                    background-color: #fff;
                    font-size: 18px;
                    font-family: 'TT-Norms-medium';
                    color: #323264;
                }
            }
        }
        .tab-content{
            columns: 3;
            .tab-pane{
                .margin{
                    margin-top: 40px;
                }
                .publication{
                    width: 413px;
                    background: #FFFFFF;
                    border-radius: 8px;
                    .publication__info{
                        padding-top: 20px;
                        padding-bottom: 20px;
                        margin-left: 20px;
                        margin-right: 20px;

                        .a-info{
                            text-decoration: none;
                            color: #24A3FF;
                            font-size: 18px;
                            line-height: 21px;
                            font-family: 'TT-Norms-medium';
                        }
                        .date{
                            margin-top: 10px;
                            color: #B3B3BA;
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            font-family: 'TT-Norms-regular';
                        }
                        .line{
                            width: 100%;
                            border: 3px solid #E6E6F0;
                        }
                        .text{
                            margin-top: 20px;
                            font-size: 16px;
                            line-height: 22px;
                            font-family: 'TT-Norms-regular';
                        }
                        @media screen and (max-width: 900px){
                            .line{
                                display: none;
                            }
                            .text{
                                display: none;
                            }
                        }
                    }
                }
                @media screen and (max-width: 500px){
                    .publication{
                        width: 335px;
                        img{
                            width: 335px;
                            height: 188px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 1400px){
            .tab-content{
                columns: 2;
                .publication{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        @media screen and (max-width: 900px){
            .tab-content{
                columns: 1;
                .publication{
                    margin-left: auto;
                    margin-right: auto;
                }
                .none{
                    display: none;
                }
            }
        }
        form{
            .button-more{
                display: block;
                margin-top: 40px;
                margin-left: auto;
                margin-right: auto;
                width: 250px;
                height: 50px;
                border: none;
                background: #24A3FF;
                cursor: pointer;
                box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
                border-radius: 12px;
                color: #FFFFFF;
                line-height: 17px;
                font-family: 'TT-Norms-regular';
            }   
        }
    }
}

footer{
    padding-bottom: 40px;
    background: #F5F5FA;
    .line-block{
        .line{
            width: 90%;
            border: 3px solid #E6E6F0;
        }
    }
    @media screen and (max-width:1420px){
        .line-block{
            padding-top: 43px;
        }
    }
    .container-xl{
        background: #F5F5FA;
        .left-info{
            .up{
                .street{
                    margin-top: 32px;
                    font-size: 16px;
                    color: #323264;
                    font-family: 'TT-Norms-regular';
                }
                .map-a{
                    margin-top: 35px;
                    margin-left: 47px;
                    display: inline-block;
                    text-decoration: none;
                    color: #24A3FF;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-family: 'TT-Norms-bold';
                }
                @media screen and (max-width:600px){
                    .map-a{
                        margin-left: 0;
                    }
                    .map-a::before{
                        display: none;
                    }
                }
                .map-a::before{
                    content: url(../assets/img/icons/point-footer.png);
                    margin-right: 10px;
                }
            }
            .down{
                margin-top: 22px;
                .number{
                    margin-top: 7px;
                    margin-left: 17px;
                    color: #46466E;
                    font-size: 16px;
                    font-family: 'TT-Norms-bold';
                }
                .number::before{
                    display: inline-block;
                    content: url(../assets/img/icons/point-footer.png);
                    vertical-align: middle;
                    margin-right: 5px;
                    margin-top: -5px;
                }
                .email{
                    text-decoration: none;
                    margin-top: 6px;
                    margin-left: 26px;
                    color: #24A3FF;
                    font-size: 16px;
                    font-family: 'TT-Norms-bold';
                }
                .email::before{
                    display: inline-block;
                    content: url(../assets/img/icons/point-footer.png);
                    vertical-align: middle;
                    margin-right: 10px;
                    margin-top: -5px;
                }
                @media screen and (max-width:600px){
                    .number{
                        margin-left: 0;
                        margin-top: 20px;
                    }
                    .number::before{
                        display: none;
                    }
                    .email{
                        margin-left: 0;
                        margin-top: 20px;
                    }
                    .email::before{
                        display: none;
                    }
                }
                .map-a::before{
                    content: url(../assets/img/icons/point-footer.png);
                    margin-right: 10px;
                }
            }
        }
        .right-info{
            .hlegals{
                margin-top: 30px;
                color: #B3B3BA;
                font-size: 16px;
                font-family: 'TT-Norms-regular';
            }
        }
        @media screen and (max-width:600px){
            .right-info{
                .hlegals{
                    text-align: center;
                    width: 305px;
                }
            }
        }
    }
    
    @media screen and (max-width:900px){
        .container-xl{
            display: flex;
            flex-direction: column;
            align-items: center;
        } 
    }
    @media screen and (max-width:600px){
        .container-xl{
            display: flex;
            flex-direction: column;
            align-items: center;
            .up{
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
            .down{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        } 
    }
}