*, html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header {
  width: 100%;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #73405f 87.53%);
  padding-top: 50px;
  position: fixed;
  z-index: 10;
}

.header .container-xl .headers .languages {
  display: none;
}

.header .container-xl .headers .languages a {
  text-decoration: none;
  font-size: 12px;
  font-family: 'TT-Norms-bold';
  color: #fff;
}

.header .container-xl .headers .languages .ua {
  background: #F0145A;
  border-radius: 8px;
  padding: 6px;
}

.header .container-xl .headers .languages .ru {
  padding: 6px;
}

.header .container-xl .headers .languages .en {
  padding: 6px;
}

.header .container-xl .headers .main-logo {
  margin-top: -25px;
}

.header .container-xl .headers .min-logo {
  display: none;
}

@media screen and (max-width: 1050px) {
  .header .container-xl .headers .main-logo {
    display: none;
  }
  .header .container-xl .headers .min-logo {
    display: block;
    margin-top: 25px;
  }
  .header .container-xl .headers .languages {
    display: block;
    margin-top: -25px;
  }
}

.header .container-xl .info-header {
  margin-top: -25px;
}

.header .container-xl .info-header .info-up .languages a {
  text-decoration: none;
  font-size: 12px;
  font-family: 'TT-Norms-bold';
  color: #fff;
}

.header .container-xl .info-header .info-up .languages .ua {
  background: #F0145A;
  border-radius: 8px;
  padding: 6px;
}

.header .container-xl .info-header .info-up .languages .ru {
  padding: 6px;
}

.header .container-xl .info-header .info-up .languages .en {
  padding: 6px;
}

.header .container-xl .info-header .info-up .street-header {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-family: 'TT-Norms-regular';
  margin-top: 4px;
  margin-left: 15px;
}

.header .container-xl .info-header .info-up .number-header {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-family: 'TT-Norms-bold';
  margin-top: 4px;
  margin-left: 20px;
}

.header .container-xl .info-header .info-up .number-header::before {
  content: url(../assets/img/icons/Dot-separator.png);
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
  margin-right: 5px;
}

.header .container-xl .info-header .info-up .facebook-header {
  margin-left: 16px;
}

.header .container-xl .info-header .info-up .facebook-header::before {
  content: url(../assets/img/icons/Dot-separator.png);
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  margin-top: 2px;
}

@media screen and (max-width: 1050px) {
  .header .container-xl .info-header .info-up .languages {
    display: none;
  }
  .header .container-xl .info-header .info-up .street-header {
    display: none;
  }
  .header .container-xl .info-header .info-up .facebook-header {
    display: none;
  }
  .header .container-xl .info-header .info-up .number-header {
    color: #fff;
    margin-left: -10px;
  }
  .header .container-xl .info-header .info-up .number-header::before {
    display: none;
  }
}

.header .container-xl .info-header .info-down {
  margin-top: 18px;
  margin-left: 138px;
}

.header .container-xl .info-header .info-down .text-ul li .ul-text {
  text-decoration: none;
  font-family: 'TT-Norms-regular';
  color: #fff;
  font-size: 18px;
}

.header .container-xl .info-header .info-down .text-ul li .ul-text:not(:last-child) {
  margin-right: 15px;
}

.header .container-xl .info-header .info-down .text-ul li .ul__services {
  border-bottom: 2px solid #fff;
}

.header .container-xl .info-header .info-down .burger {
  display: none;
}

@media screen and (max-width: 1050px) {
  .header .container-xl .info-header .info-down .text-ul {
    display: none;
  }
  .header .container-xl .info-header .info-down .burger {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .header .container-xl .info-header .info-down {
    margin-left: 105px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding-bottom: 10px;
  }
}

.services-block {
  padding-top: 150px;
  padding-bottom: 40px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.services-block .container-xl .services {
  margin-top: 80px;
}

.services-block .container-xl .services .p-services {
  margin-bottom: 15px;
  text-decoration: none;
  display: block;
  font-family: 'TT-Norms-regular';
  display: inline-block;
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
}

.services-block .container-xl .services .p-services::after {
  content: url(../assets/img/icons/services-arrow.svg);
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  margin-top: 3px;
}

.services-block .container-xl .services h2 {
  font-family: 'TT-Norms-bold';
  font-size: 42px;
  background: linear-gradient(45deg, #f0145a 1%, #EF8080 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ef8080;
  margin-top: -15px;
}

.services-block .container-xl .services .services-info-block .services-info {
  margin-top: 58px;
  width: 413px;
}

.services-block .container-xl .services .services-info-block .services-info .title .img-block {
  width: 92px;
  height: 92px;
  background-color: #fff;
  border-radius: 24px;
}

.services-block .container-xl .services .services-info-block .services-info .title .img-block .img-a-services .big {
  padding: 14px;
}

.services-block .container-xl .services .services-info-block .services-info .title .img-block .img-a-services .small {
  padding: 9px;
  display: none;
}

.services-block .container-xl .services .services-info-block .services-info .title .a-info-services {
  display: block;
  text-decoration: none;
  margin-top: 20px;
  font-family: 'TT-Norms-medium';
  font-size: 24px;
  color: #24A3FF;
}

.services-block .container-xl .services .services-info-block .services-info p {
  font-family: 'TT-Norms-regular';
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 870px) {
  .services-block .container-xl .services .services-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .services-block .container-xl .services .services-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services-block .container-xl .services .services-info-block .services-info .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .services-block .container-xl .services .services-info-block .services-info .title .img-block {
    width: 64px;
    height: 64px;
    border-radius: 18px;
  }
  .services-block .container-xl .services .services-info-block .services-info .title .img-block .img-a-services .big {
    display: none;
  }
  .services-block .container-xl .services .services-info-block .services-info .title .img-block .img-a-services .small {
    display: block;
  }
  .services-block .container-xl .services .services-info-block .services-info .title .img-block-2 {
    width: 70px;
  }
  .services-block .container-xl .services .services-info-block .services-info .title .a-info-services {
    font-size: 18px;
    margin-left: 10px;
  }
  .services-block .container-xl .services .services-info-block .services-info .title .margin {
    margin-top: 5px;
  }
  .services-block .container-xl .services .services-info-block .services-info p {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 870px) {
  .services-block {
    padding-top: 100px;
  }
}

.cases-block .container-xl .cases {
  margin-top: 81px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.cases-block .container-xl .cases .span-row-2 {
  grid-row: span 2 / auto;
}

.cases-block .container-xl .cases .item-grid {
  border: 1px solid #FFFFFF;
  background: #F5F5FA;
}

.cases-block .container-xl .cases .item-grid .text {
  font-size: 24px;
  color: #686887;
}

.cases-block .container-xl .cases .item-grid-1 {
  border-radius: 12px 0px 0px 0px;
}

.cases-block .container-xl .cases .item-grid-1 p {
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'TT-Norms-bold';
  font-size: 18px;
  color: #F0145A;
}

.cases-block .container-xl .cases .item-grid-2 .text {
  width: 414px;
  margin-top: 105px;
  margin-left: 20px;
  font-family: 'TT-Norms-medium';
}

.cases-block .container-xl .cases .item-grid-2 .info {
  font-size: 18px;
  color: #B3B3BA;
  margin-top: 20px;
  margin-left: 20px;
}

.cases-block .container-xl .cases .item-grid-3 {
  border-radius: 0px 12px 0px 0px;
}

.cases-block .container-xl .cases .item-grid-3 .text {
  width: 414px;
  margin-top: 105px;
  margin-left: 20px;
  font-family: 'TT-Norms-medium';
}

.cases-block .container-xl .cases .item-grid-3 .info {
  font-size: 18px;
  color: #B3B3BA;
  margin-top: 20px;
  margin-left: 20px;
}

.cases-block .container-xl .cases .item-grid-4 .text {
  width: 414px;
  margin-top: 48px;
  margin-left: 20px;
  font-family: 'TT-Norms-medium';
}

.cases-block .container-xl .cases .item-grid-4 .info {
  font-size: 18px;
  color: #B3B3BA;
  margin-top: 20px;
  margin-left: 20px;
}

.cases-block .container-xl .cases .item-grid-5 {
  border-radius: 0px 0px 0px 12px;
  width: 320px;
}

.cases-block .container-xl .cases .item-grid-5 .text {
  width: 280px;
  margin-top: 48px;
  margin-left: 20px;
  font-family: 'TT-Norms-medium';
}

.cases-block .container-xl .cases .item-grid-5 .info {
  font-size: 18px;
  color: #B3B3BA;
  margin-top: 20px;
  margin-left: 20px;
}

.cases-block .container-xl .cases .item-grid-6 {
  width: 453px;
  margin-left: -116px;
}

.cases-block .container-xl .cases .item-grid-6 .text {
  width: 413px;
  margin-top: 76px;
  margin-left: 20px;
  font-family: 'TT-Norms-medium';
}

.cases-block .container-xl .cases .item-grid-6 .info {
  font-size: 18px;
  color: #B3B3BA;
  margin-top: 20px;
  margin-left: 20px;
}

.cases-block .container-xl .cases .item-grid-7 {
  border-radius: 0px 0px 12px 0px;
  width: 555px;
  margin-left: -116px;
}

.cases-block .container-xl .cases .item-grid-7 .text {
  width: 507px;
  margin-top: 76px;
  margin-left: 20px;
  font-family: 'TT-Norms-medium';
}

.cases-block .container-xl .cases .item-grid-7 .info {
  font-size: 18px;
  color: #B3B3BA;
  margin-top: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 1400px) {
  .cases-block .container-xl .cases {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .cases-block .container-xl .cases .item-grid {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
  .cases-block .container-xl .cases .item-grid .text {
    margin-top: 35px;
    width: 1000px;
  }
  .cases-block .container-xl .cases .item-grid-1 {
    border-radius: 12px 0px 0px 0px;
  }
  .cases-block .container-xl .cases .item-grid-6 {
    margin-left: auto;
    margin-right: auto;
  }
  .cases-block .container-xl .cases .item-grid-7 {
    border-radius: 0px 0px 12px 12px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1100px) {
  .cases-block .container-xl .cases {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .cases-block .container-xl .cases .item-grid {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  .cases-block .container-xl .cases .item-grid .text {
    margin-top: 20px;
    width: 550px;
  }
  .cases-block .container-xl .cases .item-grid-1 {
    border-radius: 12px 0px 0px 0px;
  }
  .cases-block .container-xl .cases .item-grid-6 {
    margin-left: auto;
    margin-right: auto;
  }
  .cases-block .container-xl .cases .item-grid-7 {
    border-radius: 0px 0px 12px 12px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 650px) {
  .cases-block .container-xl .cases {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .cases-block .container-xl .cases .item-grid {
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    width: 335px;
  }
  .cases-block .container-xl .cases .item-grid .text {
    font-size: 18px;
    margin-top: 20px;
    width: 285px;
  }
  .cases-block .container-xl .cases .item-grid-1 {
    border-radius: 12px 0px 0px 0px;
  }
  .cases-block .container-xl .cases .item-grid-6 {
    margin-left: auto;
    margin-right: auto;
  }
  .cases-block .container-xl .cases .item-grid-7 {
    border-radius: 0px 0px 12px 12px;
    margin-left: auto;
    margin-right: auto;
  }
}

.company {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company .container-fluid h2 {
  text-align: center;
  font-size: 16px;
  color: #323264;
}

.company .container-fluid .company-block {
  margin-top: 30px;
}

.company .container-fluid .company-block .company-name-1 {
  background: #1C4280;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-1 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-2 {
  background: #143646;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-2 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-3 {
  background: #F48B30;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-3 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-4 {
  background: #9E4DC3;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-4 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-5 {
  background: #FD9339;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-5 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-6 {
  background: #E2E2E4;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-6 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-7 {
  background: #C71C36;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-7 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-8 {
  background: #DCF3F9;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-8 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-9 {
  background: #EAEAEA;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-9 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-10 {
  background: #282240;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-10 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-11 {
  background: #1D4568;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-11 .small {
  display: none;
}

.company .container-fluid .company-block .company-name-12 {
  background: #000;
  width: 25%;
  height: 120px;
}

.company .container-fluid .company-block .company-name-12 .small {
  display: none;
}

@media screen and (max-width: 1000px) {
  .company .container-fluid .company-block .company-name-1 {
    background: #1C4280;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-1 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-1 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-2 {
    background: #143646;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-2 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-2 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-3 {
    background: #F48B30;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-3 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-3 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-4 {
    background: #9E4DC3;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-4 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-4 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-5 {
    background: #FD9339;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-5 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-5 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-6 {
    background: #E2E2E4;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-6 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-6 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-7 {
    background: #C71C36;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-7 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-7 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-8 {
    background: #DCF3F9;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-8 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-8 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-9 {
    background: #EAEAEA;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-9 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-9 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-10 {
    background: #282240;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-10 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-10 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-11 {
    background: #1D4568;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-11 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-11 .small {
    display: block;
  }
  .company .container-fluid .company-block .company-name-12 {
    background: #000;
    width: 188px;
    height: 90px;
  }
  .company .container-fluid .company-block .company-name-12 .big {
    display: none;
  }
  .company .container-fluid .company-block .company-name-12 .small {
    display: block;
  }
}

footer {
  padding-bottom: 40px;
  background: #fff;
}

footer .line-block .line {
  width: 90%;
  border: 3px solid #E6E6F0;
}

@media screen and (max-width: 1420px) {
  footer .line-block {
    padding-top: 43px;
  }
}

footer .container-xl {
  background: #fff;
}

footer .container-xl .left-info .up .street {
  margin-top: 32px;
  font-size: 16px;
  color: #323264;
  font-family: 'TT-Norms-regular';
}

footer .container-xl .left-info .up .map-a {
  margin-top: 35px;
  margin-left: 47px;
  display: inline-block;
  text-decoration: none;
  color: #24A3FF;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'TT-Norms-bold';
}

@media screen and (max-width: 600px) {
  footer .container-xl .left-info .up .map-a {
    margin-left: 0;
  }
  footer .container-xl .left-info .up .map-a::before {
    display: none;
  }
}

footer .container-xl .left-info .up .map-a::before {
  content: url(../assets/img/icons/point-footer.png);
  margin-right: 10px;
}

footer .container-xl .left-info .down {
  margin-top: 22px;
}

footer .container-xl .left-info .down .number {
  margin-top: 7px;
  margin-left: 17px;
  color: #46466E;
  font-size: 16px;
  font-family: 'TT-Norms-bold';
}

footer .container-xl .left-info .down .number::before {
  display: inline-block;
  content: url(../assets/img/icons/point-footer.png);
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -5px;
}

footer .container-xl .left-info .down .email {
  text-decoration: none;
  margin-top: 6px;
  margin-left: 26px;
  color: #24A3FF;
  font-size: 16px;
  font-family: 'TT-Norms-bold';
}

footer .container-xl .left-info .down .email::before {
  display: inline-block;
  content: url(../assets/img/icons/point-footer.png);
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -5px;
}

@media screen and (max-width: 600px) {
  footer .container-xl .left-info .down .number {
    margin-left: 0;
    margin-top: 20px;
  }
  footer .container-xl .left-info .down .number::before {
    display: none;
  }
  footer .container-xl .left-info .down .email {
    margin-left: 0;
    margin-top: 20px;
  }
  footer .container-xl .left-info .down .email::before {
    display: none;
  }
}

footer .container-xl .left-info .down .map-a::before {
  content: url(../assets/img/icons/point-footer.png);
  margin-right: 10px;
}

footer .container-xl .right-info .hlegals {
  margin-top: 30px;
  color: #B3B3BA;
  font-size: 16px;
  font-family: 'TT-Norms-regular';
}

@media screen and (max-width: 600px) {
  footer .container-xl .right-info .hlegals {
    text-align: center;
    width: 305px;
  }
}

@media screen and (max-width: 900px) {
  footer .container-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 600px) {
  footer .container-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container-xl .up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container-xl .down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=services.css.map */