*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header{
    width: 100%;
    background: #fff;
    padding-top: 50px;
    position: fixed;
    z-index: 10;
    .container-xl{
        .headers{
            .languages{
                display: none;
                a{
                    text-decoration: none;
                    font-size: 12px;
                    font-family: 'TT-Norms-bold';
                    color: #fff;
                }
                .ua{
                    background: #F0145A;
                    border-radius: 8px;
                    padding: 6px;
                }
                .ru{
                    padding: 6px;
                    color: #B3B3BA;
                }
                .en{
                    padding: 6px;
                    color: #B3B3BA;
                }
            }
            .main-logo{
                margin-top: -25px;
            }
            .min-logo{
                display: none;
            }
            @media screen and (max-width: 1050px){
                .main-logo{
                    display: none;
                }
                .min-logo{
                    display: block;
                    margin-top: 25px;
                }
                .languages{
                    display: block;
                    margin-top: -25px;
                }
            }
        }
        .info-header{
            margin-top: -25px;
            .info-up{
                .languages{
                    a{
                        text-decoration: none;
                        font-size: 12px;
                        font-family: 'TT-Norms-bold';
                        color: #fff;
                    }
                    .ua{
                        background: #F0145A;
                        border-radius: 8px;
                        padding: 6px;
                    }
                    .ru{
                        padding: 6px;
                        color: #B3B3BA;
                    }
                    .en{
                        padding: 6px;
                        color: #B3B3BA;
                    }
                    
                }
                .street-header{
                    text-decoration: none;
                    font-size: 16px;
                    color: #fff;
                    font-family: 'TT-Norms-regular';
                    margin-top: 4px;
                    margin-left: 15px;
                    color: #B3B3BA;
                }
                .number-header{
                    text-decoration: none;
                    font-size: 16px;
                    color: #fff;
                    font-family: 'TT-Norms-bold';
                    margin-top: 4px;
                    margin-left: 20px;
                    color: #B3B3BA;
                }
                .number-header::before{
                    content: url(../assets/img/icons/point-header.svg);
                    display: inline-block;
                    vertical-align: top;
                    margin-top: -2px;
                    margin-right: 5px;
                }
                .facebook-header{
                    margin-left: 16px;
                }
                .facebook-header::before{
                    content: url(../assets/img/icons/Dot-separator.png);
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: top;
                    margin-top: 2px;
                }
                @media screen and (max-width: 1050px){
                    .languages{
                        display: none;
                    }
                    .street-header{
                        display: none;
                    }
                    .facebook-header{
                        display: none;
                    }
                    .number-header{
                        color: #B3B3BA;
                        margin-left: -10px;
                    }
                    .number-header::before{
                        display: none;
                    }
                }
            }
            .info-down{
                margin-top: 18px;
                margin-left: 138px;

                .text-ul{
                    li{
                        .ul-text{
                            text-decoration: none;
                            font-family: 'TT-Norms-medium';
                            color: #24A3FF;
                            font-size: 18px;
                            line-height: 21px;
                        }
                        .ul-text:not(:last-child){
                            margin-right: 15px;
                        }
                        .ul__team{
                            color: #F0145A;
                            border-bottom: 2px solid #F0145A;
                        }
                    }
                }
                .burger{
                    display: none;
                }
                @media screen and (max-width: 1050px){
                    .text-ul{
                        display: none;
                    }
                    .burger{
                        display: block;
                    }
                }
            }
            @media screen and (max-width: 1000px){
                .info-down{
                    margin-left: 105px;
                }
            }
        }
    }
}
@media screen and (max-width: 1050px){
    .header{
        padding-bottom: 10px;
    }
}

.team{
    padding-top: 115px;
    padding-bottom: 60px;
    .container-xl{
        h1{
            font-family: 'TT-Norms-bold';
            width: 864px;
            margin-top: 70px;
            margin-left: auto;
            margin-right: auto;
            font-size: 42px;
            background-image: linear-gradient(90deg, #F0145A, #EF8080);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .team__info{
            margin-top: 40px;
            .team__block{
                margin-top: 40px;
                width: 413px;
                height: 570px;

                .img__small{
                    display: none;
                }

                .team__text-block{
                    .team__text{
                        margin-top: 15px;
                        .name-text{
                        color: #323264;
                        font-size: 18px;
                        font-family: 'TT-Norms-medium';
                        span{
                            font-size: 16px;
                            color: #B3B3BA;
                            font-family: 'TT-Norms-regular';
                        }
                        }
                    }
                    .team__about{
                        width: 32px;
                        height: 32px;
                        display: inline-block;
                        margin-top: 23px;
                    }
                }
            }
        }
    }
    @media screen and (max-width:900px){
        .container-xl{
            align-items: center;
            h1{
                font-size: 32px;
                width: 600px;
            }
        }
    }
    @media screen and (max-width:620px){
        .container-xl{
            h1{
                font-size: 32px;
                width: 335px;
            }
            .team__info{
                .team__block{
                    display: flex;
                    flex-direction: row;
                    width: 335px;
                    height: 191px;
                    .img__big{
                        display: none;
                    }
                    .img__small{
                        display: block;
                    }
                    .team__text-block{
                        margin-left: 20px;
                        flex-direction: column;
                        justify-content: end;

                        .team__text{
                            margin-bottom: -30px;
                        }
                    }
                }
            }
        }
    }
}

footer{
    padding-bottom: 40px;
    background: #F5F5FA;
    .container-xl{
        background: #F5F5FA;
        .left-info{
            .up{
                .street{
                    margin-top: 32px;
                    font-size: 16px;
                    color: #323264;
                    font-family: 'TT-Norms-regular';
                }
                .map-a{
                    margin-top: 35px;
                    margin-left: 47px;
                    display: inline-block;
                    text-decoration: none;
                    color: #24A3FF;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-family: 'TT-Norms-bold';
                }
                @media screen and (max-width:600px){
                    .map-a{
                        margin-left: 0;
                    }
                    .map-a::before{
                        display: none;
                    }
                }
                .map-a::before{
                    content: url(../assets/img/icons/point-footer.png);
                    margin-right: 10px;
                }
            }
            .down{
                margin-top: 22px;
                .number{
                    margin-top: 7px;
                    margin-left: 17px;
                    color: #46466E;
                    font-size: 16px;
                    font-family: 'TT-Norms-bold';
                }
                .number::before{
                    display: inline-block;
                    content: url(../assets/img/icons/point-footer.png);
                    vertical-align: middle;
                    margin-right: 5px;
                    margin-top: -5px;
                }
                .email{
                    text-decoration: none;
                    margin-top: 6px;
                    margin-left: 26px;
                    color: #24A3FF;
                    font-size: 16px;
                    font-family: 'TT-Norms-bold';
                }
                .email::before{
                    display: inline-block;
                    content: url(../assets/img/icons/point-footer.png);
                    vertical-align: middle;
                    margin-right: 10px;
                    margin-top: -5px;
                }
                @media screen and (max-width:600px){
                    .number{
                        margin-left: 0;
                        margin-top: 20px;
                    }
                    .number::before{
                        display: none;
                    }
                    .email{
                        margin-left: 0;
                        margin-top: 20px;
                    }
                    .email::before{
                        display: none;
                    }
                }
                .map-a::before{
                    content: url(../assets/img/icons/point-footer.png);
                    margin-right: 10px;
                }
            }
        }
        .right-info{
            .hlegals{
                margin-top: 30px;
                color: #B3B3BA;
                font-size: 16px;
                font-family: 'TT-Norms-regular';
            }
        }
        @media screen and (max-width:600px){
            .right-info{
                .hlegals{
                    text-align: center;
                    width: 305px;
                }
            }
        }
    }
    
    @media screen and (max-width:900px){
        .container-xl{
            display: flex;
            flex-direction: column;
            align-items: center;
        } 
    }
    @media screen and (max-width:600px){
        .container-xl{
            display: flex;
            flex-direction: column;
            align-items: center;
            .up{
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
            .down{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        } 
    }
}