.fl{
    display: flex;
}
.fl-jc-center{
    display: flex;
    justify-content: center;
}
.fl-jc-sb{
    display: flex;
    justify-content: space-between;
}
.fl-jc-sa{
    display: flex;
    justify-content:space-around;
}
.fl-ai-c{
    display: flex;
    align-items: center;
}
.fl-ai-fs{
    display: flex;
    align-items:flex-start;
}
.fl-d-colmn{
    display: flex;
    flex-direction: column;
}
.fl-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fl-wrap{
    flex-wrap: wrap;
}