@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold/Montserrat-Bold.eot');
    src: url('../assets/fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
        url('../assets/fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
        url('../assets/fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/Merriweather-Regular/Merriweather-Regular.eot');
    src: url('../assets/fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Merriweather-Regular/Merriweather-Regular.woff2') format('woff2'),
        url('../assets/fonts/Merriweather-Regular/Merriweather-Regular.woff') format('woff'),
        url('../assets/fonts/Merriweather-Regular/Merriweather-Regular.ttf') format('truetype'),
        url('../assets/fonts/Merriweather-Regular/Merriweather-Regular.svg#Merriweather-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}