*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "GilroyRegular";
}

body{
    overflow-x: hidden;
}

.main{
    height: 720px;
    display: flex;
    flex-direction: column;
    background: url(../img/bg/main_bg_blue.png)  no-repeat right;
}

header{
    display: flex;
    justify-content: center;
}

.block_1{
    width: 1140px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.inline{
    display: inline-block;
}

.logo{
    display: flex;
    align-items: center;
}

.logo_img{
    margin-right: 18px;
    height: 43px;
}

.logo_text{
    width: 230px;
    height: 43px;
    border-left: 1px solid #D8D8D8;
    padding-left: 25px;
    font-size: small;
}

.header_nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.whatsapp{
    width: 43px;
    height: 43px;
    background: #2DD038;
    box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
    border-radius: 50%;
}

.whatsapp img{
    padding: 12px 13px;
}

.viber{
    width: 43px;
    height: 43px;
    background: #7B519D;
    box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
    border-radius: 50%;
}

.viber img{
    padding: 12px;
}

.telegram{
    width: 43px;
    height: 43px;
    background: #5BBAF0;
    box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
    border-radius: 50%;
}

.telegram img{
    padding: 15px 12px;
}

.links{
    display: flex;
    flex-direction: column;
}

.tel{
    font-size: 20px;
    font-weight: bold;
}

.email{
    margin-left: 25px;
    font-size: 17px;
}

.tel::before{
    content: url(../img/icons/path.png);
    margin-right: 9px;
}

.email::before{
    content: url(../img/icons/shape.png);
    margin-right: 6px;

}

.header_button{
    width: 195px;
    height: 44px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 3px;
    background: linear-gradient(90deg, #F6BD60 0%, #EB9355 80.38%, #E88952 100%);
    box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
}

.list_info_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_info{
    width: 1140px;
    margin-top: 40px;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.info_block{
    display:flex; 
    justify-content:center; 
}

.info{
    position: relative; 
    display: inline-block; 
    margin-top: 96px; 
    width: 675px; 
    height: 451px; 
    margin-left: -100px;
}

.order_text{
    font-family: "GilroyHeavy";
    position: absolute; 
    font-style: normal; 
    font-weight: bolder; 
    font-size: 40px; 
    line-height: 51px; 
    color: #333333; 
}

.order_text_second{
    position: absolute; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 24px; 
    line-height: 28px; 
    color: #333333; 
    top: 183px; 
}

.order_text_second span{
    font-family: "GilroyHeavy";
    font-style: normal; 
    font-weight: 800; 
    font-size: 24px; 
    line-height: 31px; 
    color: #333333; 
}

.order_button{
    cursor: pointer;
    position: absolute; 
    width: 211px; 
    height: 50px; 
    top: 249px; 
    background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%); 
    box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846); 
    border: 0px; 
    border-radius: 3px; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 16px; 
    line-height: 19px; 
    text-align: center; 
    text-transform: uppercase; 
    color: #FFFFFF; 
}

.order_img{
    width: 390px; 
    height: 562px; 
    margin-left: -9px; 
    margin-top: 14px;
}

.documents{
    text-align: center;
    height: 834px;
    display: flex;
    flex-direction: column;
}

.documents_h2{
    font-family: "GilroyHeavy";
    margin-top: 51px;
    font-size: 36px;
    font-weight: 800;
}

.documents_wrap{
    display: flex;
    justify-content: center;
}

.documents_blocks{
    margin-top: 39px;
    width: 1140px;
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.documents_block{
    text-align: center;
    width: 262px;
    height: 190px;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
}

.fireman, .crane, .settings, .toxic-waste, .worker, .factory{
    margin-top: 32px;
}

.excavator, .engineer{
    margin-top: 30px;
}

.fire-extinguisher{
    margin-top: 28px;
}

.plug{
    margin-top: 33px;
}

.curve, .tracktor{
    margin-top: 31px;
}

.documents_block p{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 19px;
    font-weight: 600;
}

.fireman_text, .excavator_text, .worker_text, .factory_text{
    margin-top: 17px;
}

.crane_text, .settings_text, .toxic-waste_text, .fire-extinguisher_text, .tracktor_text{
    margin-top: 15px;
}

.engineer_text{
    margin-top: 13px;
}

.plug_text, .curve_text{
    margin-top: 16px;
}

.section_3{
    display: flex;
    flex-direction: column;
    height: 350px;
    background: #F6F6F6;
}

.section_3_wrap{
    display: flex;
    justify-content: center;
}

.section_3_blocks{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_3_block{
    text-align: center;
    margin-top: 42px;
    width: 219px;
    height: 240px;
}

.section_3_text{
    font-family: "GilroyHeavy";
    margin-top: 15px;
    font-weight: 800;
    font-size: 22px;
}

.section_3_doptext{
    margin-top: 15px;
    font-weight: 500;
    font-size: 17px;
}

.section_4{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 612px;
}

.section_4_wrap{
    display: flex;
    justify-content: center;
}

.section_4_h{
    font-family: "GilroyHeavy";
    margin-top: 47px;
    font-weight: 800;
    font-size: 36px;
}

.section_4_blocks{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_4_block{
    text-align: center;
    margin-top: 55px;
    width: 265px;
    height: 366px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.section_4_img{
    margin-top: 26px;
}

.section_4_text{
    font-family: "GilroyHeavy";
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 17px;
    font-weight: 800;
    font-size: 19px;
}

.section_4_doptext{
    margin-top: -6px;
    font-weight: 500;
    font-size: 16px;
    color: #53B43B;
}

.section_4_doptext::before{
    content: url(../img/icons/check_mark.svg);
    vertical-align: middle;
}

.price{
    font-family: "GilroyHeavy";
    margin-top: 25px;
    font-weight: 800;
    font-size: 22px;
}

.section_4_a{
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #E4E4E4;
}

.section_4_links ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.section_4_links ul{
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.section_4_links ul a:hover{
    width: 14px;
    height: 14px;
    background: white;
    border: 2px solid #84AAED;
    border-radius: 50%;
}

.section_5{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 514px;
    background: #F6F6F6;
}

.section_5_h{
    font-family: "GilroyHeavy";
    margin-top: 48px;
    font-weight: 800;
    font-size: 36px;
}

.section_5_wrap{
    display: flex;
    justify-content: center;
}

.section_5_blocks{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_5_block{
    text-align: center;
    margin-top: 50px;
    width: 225px;
    height: 309px;
}

.section_6{
    display: flex;
    flex-direction: column;
    height: 637px;
}

.section_6_h{
    text-align: center;
    font-family: "GilroyHeavy";
    margin-top: 52px;
    font-weight: 800;
    font-size: 36px;
}

.section_6_wrap{
    display: flex;
    justify-content: center;
}

.section_6_blocks{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_6_block_big{
    margin-top: 40px;
    width: 555px;
    height: 348px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
    background: url(../img/bg/small_bg_blue.jpg) no-repeat right;
}

.section_6_block_big_text{
    margin-top: 41px;
    margin-left: 32px;
    width: 272px;
}

.section_6_text_big{
    font-family: "GilroyBold";
    font-size: 24px;
}

.section_6_text_big span{
    font-family: "GilroyBold";
    font-size: 24px;
    color: #86AEF0;;
}

.section_6_text_dop_big{
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}

.section_6_block_big img{
    margin-top: -200px;
    margin-left: 270px;
}

.section_6_block_small{
    margin-top: 40px;
    width: 262px;
    height: 348px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.section_6_block_small img{
    margin-left: 24px;
    margin-top: 27px;
}

.section_6_text{
    margin-left: 24px;
    width: 214px;
}

.section_6_date{
    color: #ABABAB;
    margin-top: 17px;
    font-weight: 500;
    font-size: 14px;
}

.section_6_main_text{
    font-family: "GilroyBold";
    margin-top: 10px;
    font-size: 19px;
}

.section_6_dop_text{
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}

.section_6_button{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.section_6_button button{
    display: block;
    background: white;
    cursor: pointer;
    width: 225px;
    height: 46px;
    border: 2px solid #6D81CC;
    border-radius: 3px;
    color: #6D81CC;
    font-weight: bold;
    font-size: 16px;
}

.footer{
    height: 689px;
    background: #333333;
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
}

.blocks_footer{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block_footer{
    margin-top: 56px;
    width: 359px;
    height: 546px;
}

.block_footer h2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
}

.footer_a{
    margin-top: 27px;
}

.block_footer a{
    display: block;
    margin-top: 16px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
}

.block_footer_right{
    margin-top: 56px;
    width: 359px;
    height: 546px;
}

.block_footer_right h2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
}

.p_second{
    margin-top: 30px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
}

.footer_telegram::before{
    content: url(../img/icons/telegram.png);
    margin-right: 13px;
    vertical-align: middle;
}

.footer_viber::before{
    content: url(../img/icons/viber.png);
    margin-right: 13px;
    vertical-align: middle;
}

.footer_whatsapp::before{
    content: url(../img/icons/whatsapp.png);
    margin-right: 13px;
    vertical-align: middle;
}

.footer_nomber{
    margin-top: 40px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
}

.footer_nomber::before{
    content: url(../img/icons/call-answer.svg);
    margin-right: 13px;
    vertical-align: middle;
}

.footer_email::before{
    content: url(../img/icons/shape_white.svg);
    margin-right: 13px;
    vertical-align: middle;
}

.footer_button{
    cursor: pointer;
    margin-top: 35px;
    width: 262px;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
    box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
    border-radius: 3px;
    border: none;
}

.footer_logo{
    margin-top: 52px;
}

.line{
    overflow:hidden;
    overflow-x:hidden;
    margin-top: 30px;
    width: 100vw;
    height: 2px;
    border: 1px solid #4E4E4E;
}

.copyright{
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #565656;
}

@font-face{
    font-family: "GilroyRegular";
    src: url(../fonts/Gilroy-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "GilroyBold";
    src: url(../fonts/Gilroy-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "GilroyHeavy";
    src: url(../fonts/Gilroy-Heavy.ttf);
    font-weight: normal;
    font-style: normal;
}